.navbarList {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

@media screen and (max-height: 410px) {
  .navbarList {
    justify-content: space-evenly;
  }

  .navbarList li {
    margin-top: 0;
  }
}
