.mobileMenuList {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.menuTitle {
  text-align: end;
}

.mobileMenuList > li {
  margin: 1.5rem 0;
}

.mobileMenuList li p {
  font-size: 1.25em;
}

@media screen and (max-width: 330px) {
  #mobile-menu {
    background-color: red !important;
  }
}
